.about-us {
  width: 100%;
  height: auto;
  background-color: #BBDEFB;
  /* background-color: #134074; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#fff, #BBDEFB);
}

.about-us__container {
  height: 130px;
  width: 1000px;
  padding: 120px 140px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-us__img {
  width: 50%;
  display: flex;
  justify-content: right;
}

.about-us__logo {
  margin-right: 20px;
}

.about-us__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.about-us__title {
  font-size: 48px;
  font-weight: 500;
}

.about-us__description {
  font-size: 20px;
  font-weight: 400;
}

.about-us__gradient {
  height: 15px;
  width: 100%;
  background: linear-gradient(#fff, #BBDEFB);
}