.card {
  width: 1fr;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
}

.card__image {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.card:hover {
  /* padding: 0 5px 5px 0; */
  transform: translateY(-10px);
  box-shadow: 5px 10px 20px 0px rgba(20, 46, 84, 0.31)
}